
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(79, 11, 181);
    height: 50px;
    width: 500px;
    border: 2px solid #000;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    background: rgb(169, 239, 159);
}

.segundo{
    color: brown;
}

#tercero{
    color: hsl(100, 50%, 50%);
}


p strong{
    color:white
}

.fuerte{
    color: black;
}

a{
    text-decoration: none;
    border: 1px solid #000;
    padding: 15px;
    background: rgb(181, 181, 240);
    color: black;
}

nav{
    text-align: center;
}






